# -----------------------------
# IDE
# -----------------------------
# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Eclipse
.classpath
.project
.settings/
.factorypath
.apt_generated
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# -----------------------------
# 建置工具
# -----------------------------
# Maven
target/
**/target/
/pom.xml.tag
/pom.xml.releaseBackup
/pom.xml.versionsBackup
/dependency-reduced-pom.xml
/buildNumber.properties
/.mvn/wrapper/maven-wrapper.jar

# Gradle
.gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# -----------------------------
# Java 編譯輸出
# -----------------------------
*.class
*.jar
*.war
*.ear

# -----------------------------
# 日誌與臨時檔案
# -----------------------------
logs/
*.log
*.tmp
/generated-sources/
/generated-test-sources/

# -----------------------------
# 作業系統
# -----------------------------
# macOS
.DS_Store

# Windows
Thumbs.db

# -----------------------------
# 私密資訊與本地設定
# -----------------------------
src/main/resources/application.properties
src/test/resources/test-application.properties
requirements.md

# -----------------------------
# 開發工具
# -----------------------------
# Claude Code
.claude